{% load i18n %}
{% load static %}

{% if navbar_detached  %}
<nav class="layout-navbar {{container_class}} navbar navbar-expand-xl {{navbar_detached_class}} align-items-center bg-navbar-theme" id="layout-navbar">
  {% endif %}

  {% if not navbar_detached %}
  <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
    <div class="{{container_class}}">
      {% endif %}
      {% if navbar_full %}
      <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
        <a href="{% url 'dashboards:index' %}" class="app-brand-link">
          <span class="app-brand-logo demo">
            {% static 'img/common/logo.png' %}
          </span>
          <span class="app-brand-text demo menu-text fw-bold">{% get_theme_variables 'template_name' %}</span>
        </a>

        {% if menu_horizontal %}
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
          <i class="ti ti-x ti-md align-middle"></i>
        </a>
        {% endif %}
      </div>
      {% endif %}

      {% if not navbar_hide_toggle %}
      <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 {{ menu_horizontal|yesno:'d-xl-none,' }} {{ content_navbar|yesno:'d-xl-none,' }}">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
          <i class="ti ti-menu-2 ti-md"></i>
        </a>
      </div>
      {% endif %}

      <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

        <!-- Copilot -->
        <a class="btn btn-text-secondary btn-icon rounded-pill me-2" onclick="openPopupWindow()" title="Copilot">
           <i class="ti ti-robot ti-md p-1 btn-primary rounded-circle"></i>
        </a>
        <!-- / Copilot -->

        <!-- Page Refresher -->
          <button class="btn btn-text-secondary btn-icon rounded-pill me-2" onclick="window.location.reload();" title="Refresh page">
            <i class="ti ti-reload ti-md p-1 btn-success rounded-circle"></i>
          </button>
        <!-- / Page Refresher -->

        <!-- Admin Panel -->
          <a class="btn btn-text-secondary btn-icon rounded-pill me-2" href="/admin" target="_blank" title="Admin Panel">
            <i class="ti ti-id-badge-2 ti-md p-1 btn-danger rounded-circle"></i>
          </a>
        <!-- / Admin Panel -->

        <!-- Style Switcher -->
        <div class="navbar-nav align-items-center">
          <div class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">
            <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
              <i class='ti ti-md'></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-start dropdown-styles">
              <li>
                <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
                  <span class="align-middle"><i class='ti ti-sun ti-md me-3'></i>Light</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
                  <span class="align-middle"><i class="ti ti-moon-stars ti-md me-3"></i>Dark</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
                  <span class="align-middle"><i class="ti ti-device-desktop-analytics ti-md me-3"></i>System</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- / Style Switcher-->
      
        <!-- Record Meeting -->
          <a class="btn btn-primary py-1 ps-2 pe-4 btn-sm ms-12 me-4 my-1" href="javascript:void(0);" id="record-button" title="Start Meeting Record">
            <i id="record-icon" class="ti ti-player-record-filled ti-md p-1 text-success rounded-circle"></i><strong><small id="record-text">Start Meeting Record</small></strong>
          </a>
        <!-- / Record Meeting -->
      
      </div>
      {% if not navbar_detached %}
    </div>
  </nav>
  {% endif %}
  {% if navbar_detached %}
</nav>
{% endif %}

{% block page_js %}
<script>
    function openPopupWindow() {
        window.open(
            '{% url "copilot:modal" %}',
            'Copilot Chat',
            'width=75,height=100,resizable=no,scrollbars=no'
        );
    }
</script>
<script>
    let isRecording = false;
    document.getElementById('record-button').addEventListener('click', () => {
        isRecording = !isRecording;
        fetch('http://localhost:53001/toggle-recording', {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.status);

            // Update icon appearance and button text
            const recordButton = document.getElementById('record-button');
            const recordIcon = document.getElementById('record-icon');
            const recordText = document.getElementById('record-text');

            if (isRecording) {
                recordIcon.classList.replace('text-success', 'text-danger');
                recordIcon.classList.replace('ti-player-record-filled', 'ti-player-stop-filled');
                recordText.textContent = "Stop Meeting Record";
                recordButton.title = "Stop Meeting Record";
            } else {
                recordIcon.classList.replace('text-danger', 'text-success');
                recordIcon.classList.replace('ti-player-stop-filled', 'ti-player-record-filled');
                recordText.textContent = "Start Meeting Record";
                recordButton.title = "Start Meeting Recording";
            }
        })
        .catch(error => console.error('Error toggling recording:', error));
    });
</script>
{% endblock %}
